/* Home page transparent box */

.transparentBox {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  padding: 10px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 960px) {
    .transparentBox {
        width: fit-content;
        height: auto;
        padding: 20px;
        border-radius: 5px;
        top: 50%;
        left: 5%;
        transform: translate(5%, -50%);
    }
}

/* Nav logo */

.navLogo {
    width: 60px;
    height: auto;
}
@media (min-width: 960px) and (max-width: 1199px) {
    .navLogo {
        width: 80px;
        height: auto;
    }
}
@media (min-width: 1200px) {
    .navLogo {
        width: 100px;
        height: auto;
    }
}

/* Article Styles */

@media (min-width: 640px) and (max-width: 1023px) {
    .sidebarArticles a:first-of-type {
        margin-right: 20px;
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
    .sidebarArticles a:last-of-type {
        margin-left: 20px;
    }
}